.sidebar__option{    
    flex: 0.6;
    display: flex;
}


.side__bar{
    overflow-y: scroll;
    height:90vh;
    scroll-behavior: smooth;
}

.ul__items > *{
   padding: 8px;
   color: black;   
}


.social__icon{
    margin-right: 30px;
}

.ul__items li{
    margin-right: 40px;
    font-size: 18px;
    list-style: none;
    align-items: center;
    justify-content: center;
  
}

.ul__items li :hover{

    background-color: skyblue;
    border-radius: 2px;
}

.ul__items li a{
    flex-direction: column;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    align-items: center;
    
}


.search__btn{
    margin-left: 50px;
    margin-bottom: 20px;

}