.sidebar__option{    
    flex: 0.4;
    display: flex;
}


.side__bar{
    width: 300px;
    overflow-y: scroll;
    height:90vh;
    scroll-behavior: smooth;
}

.ul__items > *{
   padding: 8px;
   color: black;   
}


.social__icon{
    margin-right: 30px;
}

.ul__items li{
  
    font-size: 18px;
    list-style: none;
    align-items: center;
   
  
}

.ul__items li :hover{
    padding-left: 10px;
    background-color: skyblue;
    border-radius: 2px;
}

.ul__items li a{
    
    text-decoration: none;
    color: black;
    align-items: center;
    
}


.search__btn{
    margin-left: 30px;
    margin-bottom: 20px;

}